{% extends 'base.html.twig' %}

{% block title %}Hello Test Cache!{% endblock %}

{% block container %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Caching with Symfony 5</h1>
        <p>The cache was hit: {{ isCached }}</p>
    </div>
{% endblock %}

