{% extends 'base.html.twig' %}

{% block title %}Hello FileManagerControlle!{% endblock %}

{% block container %}
	<div class="container">
		<h1>Session Controller Green Deploy</h1>
		<div class="row">
			<div class="col-sm">
				{{ form_start(sessionForm) }}
				{{ form_widget(sessionForm) }}
				<input type="submit">
				{{ form_end(sessionForm) }}
			</div>
		</div>
		<div class="row">
			<div class="col"><hr></div>
		</div>
		<div class="row">
			<div class="col-sm">
				{% for key,value in sessionAll %}
					<p>Key : {{ key }}</p>
					<p>Value : {{ value }}</p>
					<br/>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}

