{% extends 'base.html.twig' %}

{% block title %}Hello FileManagerController!{% endblock %}

{% block container %}
    {% for car in cars %}
        <p>{{ car.name }}</p>
    {% endfor %}
{% endblock %}

