{% extends 'base.html.twig' %}

{% block title %}Hello FileManagerController!{% endblock %}

{% block container %}
    <div class="container">
        <h1>File Manager Controller</h1>
        <div class="row">
            <div class="col-sm">
                {{ form_start(photoForm) }}
                {{ form_widget(photoForm) }}
                <input type="submit"></
                {{ form_end(photoForm) }}
            </div>
        </div>
    </div>
{% endblock %}

